## Sequential coding game

Your task:

In [1]:
import urllib.request
import pandas as pd

Download data from this [link](https://archive.ics.uci.edu/ml/machine-learning-databases/tae/) and store it at < your directory > /data!

In [3]:
urllib.request.urlretrieve("https://archive.ics.uci.edu/ml/machine-learning-databases/tae/tae.data", "./tae.data")

('./tae.data', <http.client.HTTPMessage at 0x29a5e28feb8>)

 Read it into a dataframe using Pandas and assign it to a variable called tae

In [5]:
tae = pd.read_csv("./tae.data", header=None)

Include the headers for the dataframe

In [6]:
names = ["Native_English_Speaker", "Course_Instructor","Course","Semester" ,"Class_Size" ,"Class_Attribute"]

In [7]:
df.columns = names

Print the top 5 rows of the dataframe.

In [8]:
print(df.head())

   Native_English_Speaker  Course_Instructor  Course  Semester  Class_Size  \
0                       1                 23       3         1          19
1                       2                 15       3         1          17
2                       1                 23       3         2          49
3                       1                  5       2         2          33
4                       2                  7      11         2          55

   Class_Attribute
0                3
1                3
2                3
3                3
4                3

Note the different variables. List them down in the box below and note down if they are categorical or numerical.

In [9]:
   1. Whether of not the TA is a native English speaker (categorical)
      1=English speaker, 2=non-English speaker
   2. Course instructor (categorical, 25 categories)
   3. Course (categorical, 26 categories)
   4. Summer or regular semester (categorical) 1=Summer, 2=Regular
   5. Class size (numerical)
   6. Class attribute (categorical) 1=Low, 2=Medium, 3=High

SyntaxError: invalid syntax (<ipython-input-9-a949e2c47ea9>, line 1)

Obtain basic information (Number of rows and columns, type of data, number of missing values and basic statistics) about the dataset.

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
Native_English_Speaker    151 non-null int64
Course_Instructor         151 non-null int64
Course                    151 non-null int64
Semester                  151 non-null int64
Class_Size                151 non-null int64
Class_Attribute           151 non-null int64
dtypes: int64(6)
memory usage: 7.2 KB
None

In [11]:
print(df.describe())

       Native_English_Speaker  Course_Instructor      Course    Semester  \
count              151.000000         151.000000  151.000000  151.000000
mean                 1.807947          13.642384    8.105960    1.847682
std                  0.395225           6.825779    7.023914    0.360525
min                  1.000000           1.000000    1.000000    1.000000
25%                  2.000000           8.000000    3.000000    2.000000
50%                  2.000000          13.000000    4.000000    2.000000
75%                  2.000000          20.000000   15.000000    2.000000
max                  2.000000          25.000000   26.000000    2.000000

       Class_Size  Class_Attribute
count  151.000000       151.000000
mean    27.867550         2.019868
std     12.893758         0.820327
min      3.000000         1.000000
25%     19.000000         1.000000
50%     27.000000         2.000000
75%     37.000000         3.000000
max     66.000000         3.000000

Good luck!!!